.question {
  padding: 10px;
}

.toggleButton {
  background-color: lightgrey;
  border-radius: 10%;
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 0.875rem;
}

.answerBlock {
  height: 250px;
  position: relative;
  margin: 10px;
}
