<div class="answerBlock" *ngIf="answered; else q">
<button mat-button (click)="answerIsShown = !answerIsShown" class="toggleButton">{{ answerIsShown ? 'réponse' : 'question' }}</button>
  <div *ngIf="answerIsShown; else questionIsShown">
    <p>
      <strong>La bonne réponse était :</strong>
    </p>
    <p>
      {{ question.correct_answer | trueFalse }}
    </p>
  </div>
  <ng-template #questionIsShown>
    <div>
      <p>
        <strong>Question :</strong>
      </p>
      <p>{{ question.question }}</p>
      <p>
        <strong>Votre réponse :</strong>
      </p>
      <p>
        {{ optionSelected | trueFalse }}
      </p>
    </div>
  </ng-template>
</div>

<ng-template #q>
  <div class="question" fxLayout="column" fxLayoutGap="25px">
    <div [innerHTML]="question.question"></div>
    <mat-radio-group fxLayout="column wrap">
      <mat-radio-button *ngFor="let c of choices" value="c" (click)="submitAnswer(c)">{{c | trueFalse}}</mat-radio-button>
    </mat-radio-group>
  </div>
</ng-template>
