<form>
  <span><label for='nbOfQuestions'>nbOfQuestions</label><input [(ngModel)]="nbOfQuestions" type='number' class='formControl' name='nbOfQuestions'></span> <br>
  <span><label for='category'>category</label><input [(ngModel)]="category" type='number' class='formControl' name='category'></span> <br>
  <span><label for='difficulty'>difficulty</label><input [(ngModel)]="difficulty" type='string' class='formControl' name='difficulty'></span> <br>
  <span><label for='type'>type</label><input [(ngModel)]="type" type='string' class='formControl'name='type'></span> <br>
  <button type='submit' (click)='generateURL()' (click)='alo()'>Submit</button>
</form>
