<h2 mat-dialog-title>
  {{ headerMessage }}
</h2>
<mat-dialog-content>
  <p *ngIf="score<=1">
    Vous avez obtenu {{ score }} bonne réponse sur {{ nbOfQuestions }}, soit {{ percent }}% de bonnes réponses
  </p>
  <p *ngIf="score>1">
    Vous avez obtenu {{ score }} bonnes réponses sur {{ nbOfQuestions }}, soit {{ percent }}% de bonnes réponses
  </p>
  <p>
    Résultat obtenu le {{ date | date:'EEEE dd LLLL':'fr-FR'}} à {{ date | date:'mediumTime':'fr-FR'}}
  </p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" [mat-dialog-close]="true">
    <mat-icon>
      arrow_back_ios
    </mat-icon>
    <span>Retour au formulaire</span>
  </button>
  <button mat-raised-button [mat-dialog-close]="false">Revoir les questions</button>
</mat-dialog-actions>
