<form (ngSubmit)="getQuestions()" [formGroup]="qForm">
  <div class="form-group">
    <label for="numQuest">Number of Questions</label>
    <input type="number" class="form-control" id="numQuest" value="10">
  </div>
  <div class="form-group">
    <label for="categ">Category</label>
    <select class="form-control" id="categ" formControlName="categ">
      <option *ngFor="let cat of categories"[value]="cat.value">{{ cat.title }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <select class="form-control" id="difficulty" formControlName="difficulty">
      <option *ngFor="let diff of difficulties" [value]="diff.value">{{ diff.level }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" formControlName="type">
      <option *ngFor="let tp of types" [value]="tp.value">{{ tp.name }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Display Questions</button>
</form>

<div *ngIf="questions">
  <div *ngFor="let q of questions">
    <p>
      {{ q.question }}
    </p>
    <p [hidden]='!shown'  class="bg-info text-white">
      {{ q.correct_answer}}
    </p>
  </div>
  <button (click)="shown = !shown">{{ shown ? 'Masquer les réponses' : 'Afficher les réponses' }}</button>
</div>
