<form [formGroup]="triviaForm" #form="ngForm" (ngSubmit)="onSubmit(form)" fxLayout="column">
  <mat-form-field hintLabel="Min 3">
    <input matInput maxlength="10" placeholder="Nombre de questions" type="number" formControlName="amount">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Catégorie" formControlName="category">
      <mat-option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Difficulté" formControlName="difficulty">
      <mat-option *ngFor="let d of difficulties" [value]="d.id">{{ d.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type" formControlName="type">
      <mat-option  *ngFor="let t of types" [value]="t.id">{{ t.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button mat-raised-button color="primary" type="submit">Afficher</button>
  <button mat-button mat-raised-button type="reset">Annuler</button>
</form>

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile (click)="questionSide[i] = !questionSide[i]" fxLayoutAlign="center center" *ngFor="let q of questions; let i=index"
  [ngStyle]="{'background-color':questionSide[i] === false ? 'pink' : 'lightblue' }" >
    {{questionSide[i] === false ? q.correct_answer : q.question}}
  </mat-grid-tile>
</mat-grid-list>

