<mat-toolbar>
  <div class="title" fxLayout="row" fxLayoutAlign="center center">
    <h1>ANGULAR TRIVIA</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="warn" (click)="logout()">Deconnexion</button>
  </div>
</mat-toolbar>

<mat-card class="form">
  <div class="templateForm" [formGroup]="questionForm" fxLayout="column" fxLayoutAlign="space-around center">
    <label>Number :
      <input type="number" formControlName="number" required>
    </label>
    <label>Categorie :
      <input type="text" formControlName="categorie" list="ctg">
      <datalist id="ctg">
        <option *ngFor="let ctg of categorie">{{ctg.id}}</option>
      </datalist>
    </label>
    <label>Difficulté :
      <input type="text" formControlName="difficulte" list="dfl">
      <datalist id="dfl">
        <option>easy</option>
        <option>medium</option>
        <option>hard</option>
      </datalist>
    </label>
    <label>type :
      <input type="text" formControlName="type" list="type">
      <datalist id="type">
        <option>multiple</option>
        <option>boolean</option>
      </datalist>
    </label>
  </div>
  <div class="button" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="getQuestion()">Afficher</button>
      <button mat-raised-button color="warn" (click)="reload()">Reset</button>
  </div>
</mat-card>

<app-question-details [question]="question"></app-question-details>
